
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
</head>
<body>
    <h1>Bienvenido a la Aplicación CRUD de Libros</h1>
    <a href="/libros">Ir a la Lista de Libros</a> </br>
    <a href="/views/libro/index.ejs">Principio</a> </br>
    <a href="/views/libro/crear.ejs">Crear</a> </br>
    <a href="/views/libro/editar.ejs">Editar</a></br>
</body>
</html>
